<ion-header>
  <ion-navbar>
    <ion-title >Soil Preparation for Beets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    <b>
      How to Sow
    </b>
  </p>

  <ul>
    <li>Beets are sensitive to acidic soils and prefer a pH of 6.0 – 7.0. If your soil is more acidic, add Garden Lime as directed on the bag.</li>
    <li>Sow thinly in rows 12 inches apart and cover with ½ inches of fine soil. Firm lightly and keep evenly moist.</li>
    <li>Mix 1 cup of 10-20-10 fertilizer per 10 feet of garden row into the top 4 inches of soil with a shovel.</li>
    <li>Seedlings emerge in 14-21 days.</li>
    <li>Thin to stand about 3" apart when seedlings are 1-2" tall. Note that beet seeds are actually clusters of seeds and require more thinning than other crops.</li>
    <li>Keep plants well watered during dry periods to promote uninterrupted growth. Plants need about 1 inch of rain per week during the growing season. Use a rain gauge to check to see if you need to add water. It’s best to water with a drip or trickle system that delivers water at low pressure at the soil level. If you water with overhead sprinklers, water early in the day so the foliage has time to dry off before evening, to minimize disease problems. Keep the soil moist but not saturated.</li>
  </ul>

  <button ion-button block (click)="gotoSoilPage()">Continue</button>

</ion-content>
