<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About DigiFarm</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/new/about.jpg" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h4>DigiFarm</h4>

    <p>
      A connected device data analytics platform to drive Next Generation Farming.
    </p>
    <p>
      For more details, Please visit https://nokia.com/nextGen/difiFarm
    </p>
  </div>
</ion-content>
