<ion-header>
  <ion-navbar>
    <ion-title >Setup Done!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

    <div class="waitCenter" (click)="goNext()">
      <h4>
        Great news!
      </h4>
      <h4>
        Device is successfully activated!
      </h4>
    </div>
</ion-content>
