<ion-header>
  <ion-navbar>
    <ion-title >Soil preparation Done!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

    <div class="waitCenter" (click)="goNext()">
      <h4>
        Great news!
      </h4>
      <h4>
        Plant selection and soil preparation task is completed!
      </h4>
      <h4>
        This Plant will be added in Health Dashboard for monitoring.
      </h4>
    </div>

</ion-content>
