<ion-header>
  <ion-navbar>
    <ion-title >Gathering soil data</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div class="waitCenter">
    <h4 (click)="gotoSummarySoilPrep()">
      Gathering Soil details
    </h4>
    <h4 (click)="gotoSummarySoilPrep()">
      Please wait..
    </h4>
  </div>
</ion-content>
