<ion-header>
  <ion-navbar>
    <ion-title >Select vegetable</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    What vegetable do you want to grow?
  </p>
  <ion-item>
    <ion-label>Pick your vegetable</ion-label>
    <ion-select [(ngModel)]="vegetables" multiple="false">
      <ion-option>Beet</ion-option>
      <ion-option>Carrot</ion-option>
      <ion-option>Lettuce</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button block (click)="gotoSoilPage()">Check!</button>


</ion-content>
