page-speaker-list {
  .smallImage {

    width: 40px;
    height: 40px;

  }
  .smallImageTwo {
    padding-top: 20px;
    padding-left: 1px;
  }
  .biggerImage {
    width: 80px;
    height: 80px;
  }
  .home {

    scroll-content {
      display: flex;
      flex-direction: column;
    }

    ion-grid {
      padding: 0;
      height: 100%;
    }

    ion-row {
      flex: 1;
    }

  }

  .scroll-content {
    background: #EDEDED;
  }

  .speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    ion-card-content {
      flex: 1 1 auto;
    }
  }

  // Todo: remove when this issue https://github.com/ionic-team/ionic/issues/11212 is fixed
  @media(min-width: 769px) {
    .speaker-card {
      height: 170px;
    }
  }

  .speaker-card ion-card-header .item {
    padding: 4px 16px;
  }

  .speaker-card ion-card-content {
    padding-left: 0;
    padding-right: 0;
  }
}
