<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home Garden Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-col style="background-color: #e74c3c; ">Spinach</ion-col>-->

<ion-content class="TBD">

  <ion-grid>
    <ion-row text-center>
      <ion-col ></ion-col>
      <ion-col ><b>Soil Health</b></ion-col>
      <ion-col ><b>Pest</b></ion-col>
      <ion-col ><b>Disease</b></ion-col>
      <ion-col ><b>Harvest Ready</b></ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col >
        <img class="biggerImage" src="assets/new/beetIcon.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img (click)="goPest()" class="smallImage" src="assets/new/warning.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col >
        <img class="biggerImage" src="assets/new/kaleIcon.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img (click)="goDisease()" class="smallImage" src="assets/new/warning.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
    </ion-row>


    <ion-row text-center>
      <ion-col >
        <img class="biggerImage" src="assets/new/lettuceIcon.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
      <ion-col >
        <div class="smallImageTwo" > </div>
        <img class="smallImage" src="assets/new/healthy.png">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>


<!--<ion-content class="outer-content speaker-list">
  <ion-list >
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center approxItemHeight="457px">
          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToSpeakerDetail()">
                <ion-avatar item-start>
                  <img src="assets/img/speakers/cheetah.jpg"/>
                </ion-avatar>
                Garlic
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                <button ion-item (click)="goToSessionDetail()">
                  <h3>Health is good.</h3>
                  <h3>Soil details:</h3>

                </button>

                <button ion-item (click)="goToSpeakerDetail()">
                  <h3>About your Garlic</h3>
                </button>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center approxItemHeight="457px">
          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToSpeakerDetail()">
                <ion-avatar item-start>
                  <img src="assets/img/speakers/cheetah.jpg"/>
                </ion-avatar>
                Spinach
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                <button ion-item (click)="goToSessionDetail()">
                  <h3>Health is good.</h3>
                  <h3>Soil details:</h3>

                </button>

                <button ion-item (click)="goToSpeakerDetail()">
                  <h3>About your Spinach</h3>
                </button>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>


      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>-->
