<ion-header>
  <ion-navbar>
    <ion-title >Add Device</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div>
    <img src="assets/new/DeviceBlinking.png">
  </div>

  <div class="waitCenter">
    <h4>
      Power on the device and confirm that indicator light rapidly blinks.
    </h4>

  </div>

  <button ion-button block (click)="nextPage()">Confirm rapidly blinking</button>
</ion-content>
