<ion-header>
  <ion-navbar>
    <ion-title >Connecting now</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

    <div class="TBD" (click)="goNext()">
      <img src="assets/new/DeviceConnecting.png">
    </div>
</ion-content>
