<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Live Camera View</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content>
  <iframe src="http://findnerd.com" width="400" height="400"></iframe>
</ion-content>-->

<ion-content>
  <iframe src="http://104.54.235.130/html/" width="400" height="600"></iframe>
</ion-content>


<!--
<ion-content class="map-page">

  <div style="height: 100%; width: 100%" #mapCanvas id="map_canvas"></div>
</ion-content>
-->
