<ion-header>
  <ion-navbar>
    <ion-title >Plant is not healthy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/new/disease.jpg">
  </div>
  <div padding class="about-info">
    <h4>Fixing Nutrient Problems</h4>

    <p><b>How do you add these nutrients to the soil?</b></p>

    <p>
      One of the great things about the six essential nutrients is that they are easy to find.

      Healthy soil is already pumped with these nutrients although some like nitrogen are often locked in an unusable form for the plant.
    </p>
    <p>
      You could also order our organic fertilizer from amazon.
      <a href="https://www.amazon.com/Blue-Gold-Hydroponics-Concentrate-Guaranteed/dp/B01LX3OXNW/ref=sr_1_2?s=lawn-garden&ie=UTF8&qid=1515556986&sr=1-2&keywords=hydroponic+nutrients+for+vegetables">
        Click here
      </a>
    </p>
  </div>
</ion-content>

