<ion-header>
  <ion-navbar>
    <ion-title >Pest Detected</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/new/pest.jpg">
  </div>
  <div padding class="about-info">
    <h4>Organic Aphid Pest Detected</h4>
    <p><b>Fix</b></p>
    <p>
      Grow young plants under row covers. Remember to remove the covers when the plants begin to flower. Use aluminum foil or reflective mulch on the ground beneath the plants. While you may not want to do this in your flower garden, reflective mulch in the vegetable garden is a very effective deterrent. Growing these far from other garden plants will lure aphids away and keep the garden aphid-free.
    </p>
    <p>
      You could also order our recommended Neem Oil garden sprayer from amazon.
      <a href="https://www.amazon.com/Planted-Perfect-Hand-Garden-Sprayer/dp/B01LYWAB2S/ref=sr_1_1_sspa?ie=UTF8&qid=1515472544&sr=8-1-spons&keywords=Neem+Oil+Foliar+Spray&psc=1">
        Click here
      </a>
    </p>
  </div>
</ion-content>

