<ion-header>
  <ion-navbar>
    <ion-title >Soil Preparation for Lettuce</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
  Spacing : 1 inch Deep, 3 to 4 inches apart
  Spread a layer of grass clippings, shredded leaves, or straw around your beet patch to help keep the moisture consistent
  Till in aged manure before planting. Beets require especially good nutrition and a high phosphorus level to germinate. Go easy on nitrogen however, an excess will cause sprawling greens and tiny bulbs beneath the soil.
  Wait until soil reaches 50°F before planting.
  Plant seeds ½ inch deep and 1-2 inches apart.
  Make sure soil remains moist for germination.
  In zones with low moisture and rainfall, soak the seeds for 24 hours before planting.
  Early crop can be planted in March/April, and late crop anytime from June to September. Successive plantings are also possible as long as the weather doesn’t exceed 75°F. Space plantings about 20 days apart.
  Winter crops are a definite possibility in Zone 9 and above
  when its pH is lower than 6.0 and with sulfur if the pH reading is above 7.0. Use 5 to 10 pounds per 100 square feet of limestone to raise the pH by .5. The amount depends on the composition of your soil -- less for soil with more sand and more for a loam or clay soil. It takes about 1 pound of sulfur per 100 square feet to lower pH by 1 point on the pH scale. The ideal pH for beets is from 6.5 to 7.
  Mix 1 cup of 10-20-10 fertilizer per 10 feet of garden row into the top 4 inches of soil with a shovel. Beets benefit from nitrogen and phosphorus in the soil at planting time. Add 1 tablespoon of the fertilizer alongside the plants when they are 4 to 6 inches tall. Water it into the soil. The fertilizer also contains boron. Beets use this nutrient inefficiently, and the root can be dark and corky when boron is unavailable in the soil, which also occurs when soil pH is high.
  Avoid planting beets where you have grown beets, chard or spinach the year before.
  </p>
  <button ion-button block (click)="gotoNext()">Soil preparation Done!</button>


</ion-content>
