<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <b>DigiFarm</b>
      </h2>
      <p>It helps you choose the best vegetables based on your location, weather and most importantly your garden setup!</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image"/>
      <h2 class="slide-title" >Garden sensors</h2>
      <p>Most advanced soil sensors going to take real time measurements and helps maintain proper soil health for your vegetables.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image"/>
      <h2 class="slide-title">Garden Camera</h2>
      <p>Most advanced camera going to take real time images of your vegetables plants and shows health index along with predicting next steps for you.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">Advanced procesing</h2>
      <p>It can help you connect to best suitable service provider based on problems you have.!</p>
      <button ion-button icon-end large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
