<ion-header>
  <ion-navbar>
    <ion-title >Summary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Location</ion-label>
    <ion-label>Austin, Texas</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Teamprature</ion-label>
    <ion-label>65F</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Soil PH</ion-label>
    <ion-label>8.0</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Soil N-P-K</ion-label>
    <ion-label>10-20-10</ion-label>
  </ion-item>
  <p>
    Based on current weather conditions, region and soil details, we recommand you to grow these best suitbale vegetables :
  </p>
  <ion-item>
    <ion-label>Pick your vegetables</ion-label>
    <ion-select [(ngModel)]="vegetables" multiple="true">
      <ion-option>Beet</ion-option>
      <ion-option>Kale</ion-option>
      <ion-option>Lettuce</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button block (click)="gotoSoilPage()">Soil Preparation</button>


</ion-content>
