<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Set up!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list >
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center approxItemHeight="50px">
          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="whatToGrow()">
                <ion-avatar item-start>
                  <img src="assets/new/plant.jpg"/>
                </ion-avatar>
                What do you want to grow?
              </button>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center approxItemHeight="50px">
          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="gotoWait1()" style="word-wrap: break-word; word-break: break-all;">
                <ion-avatar item-start>
                  <img src="assets/new/plant.jpg"/>
                </ion-avatar>
                What should i grow?
              </button>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center approxItemHeight="50px">
          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="deviceSetup()">
                <ion-avatar item-start>
                  <img src="assets/new/setup.png"/>
                </ion-avatar>
                Set up DigiFarm system.
              </button>
            </ion-card-header>
          </ion-card>
        </ion-col>


      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
