<ion-header>
  <ion-navbar>
    <ion-title >Gathering data</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <div (click)="gotoWait2()" class="waitCenter">
    <h4 (click)="gotoWait2()">
      Gathering local weather data
    </h4>
    <h4 (click)="gotoWait2()">
      Please wait..
    </h4>
  </div>

</ion-content>
